#container1 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  #Right_side {
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  #Right_side table {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.2);
    opacity: 0.9;
  }
  #Right_side h1 {
    text-align: center;
  }
  #Right_side table td {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

 .in input{
    width: 450px;
    height: 50px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  #Right_side button {
    width: 140px;
    height: 45px;
    border-radius: 10px;
    background-color: #FF9448;
    color: #ffffff;
    font-size: 1.2em;
    border: none;
  }
  
  #Right_side button:hover{
    background-color: #000000;
    color: #ffffff;
  }
  
  #Right_side p {
    font-size: 0.9em;
  }


  .check {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 0;
    font-size: 0.95em;
    text-align: left;
  }
  .check label{
  padding-left: 1%;
  }
  .check label a{
    color: #ffffff;
  }
