*{
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #FF9448, #FFFFFF);
  font-family: Arial, sans-serif;
}

#logo {
  width: 155px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /*position: fixed;  Make the header fixed */
  top: 0; /* Position it at the top */
  left: 0;
  background-color: transparent; /* Add background color to ensure it is visible */
  z-index: 1000; /* Ensure it is above other content */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}

nav {
  width: 450px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 2%;
}
nav a {
  color: #333;
  text-decoration: none;
}
#container {
  margin-top:3.5% ;
  margin-bottom: 3.5%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
 
}
#content {
  width: 90%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);

}
table {
  width: 65%;
  height: 90%;
  border-collapse: collapse;
 
}


table h1 {
  font-size: 2.5em;
  color: #333;
}

table p {
  padding: 0%;
  font-size: 1.5em;
  text-align: left;
  color: #333;
}

td {
  padding: 0.5%;
}
.txt {
  width: 100%;
  height: 40px;
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  font: bold;
  background: linear-gradient(to right ,#fff3ea ,#ffe6d3);
}
table textarea {
  width: 100%;
  height: 70px;
  text-align: left;
  padding-left: 1%;
  background-color: transparent;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  font: bold;
  resize: none;
  background: linear-gradient(to right ,#fff3ea ,#ffe6d3);
  border: none;
}
.terms {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
}
.terms label{
padding-left: 1%;
}
input{
  border: none;
  padding-left: 1%;
}
input[type="checkbox"] {
  appearance: none; /* Remove default checkbox styling */
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Make it circular */
  border: 2px solid rgb(255, 148, 72); /* Add a border */
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #d9e0d9; /* Background color when checked */
  border: 3px solid rgb(255, 148, 72); /* Border color when checked */
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255, 148, 72); /* Inner circle when checked */
}

#submit_button {
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 10px;
  font: bold;
  background-color: rgb(255, 148, 72);
  color: #d9e0d9;
  border: 0;
}
button:hover{
  color: black;
}

.image-upload {
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.image-upload input[type="file"] {
  display: none;
}

.image-upload label {
  display: inline-block;
  background-color: #fff3ea;
  color: #333;
  padding: 6px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.image-upload label img{
  color: #ff9448;
  width: 12px;
  height: 12px;
}
.image-upload label:hover {
  background-color: #FF9448;
}
